@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/green";

body {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
}

.app {
    min-height: 100vh;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: var(--radius-m);
    border: 2px solid var(--primary-color);
}
