.link {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        fill: var(--inverted-primary-color);
        width: 24px;
        height: 24px;
    }
}

.linkText {
    opacity: 1;
    white-space: nowrap;
}

.collapsed {
    .link {
        gap: 0;
    }

    .linkText {
        opacity: 0;
        transition: 0.3s opacity;
        width: 0;
    }
}
