.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.recommendationsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommendations {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 1rem;
}
