.root {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: var(--drawer-z-index);
    align-items: flex-end;
}

.opened {
    pointer-events: auto;
    opacity: 1;

    .content {
        transform: translateY(0%);
    }
}

.sheet {
    position: fixed;
    left: 2vw;
    height: calc(100vh + 100px);
    width: 96vw;
    border-radius: var(--radius-m) var(--radius-m) 0;
    background: var(--bg-color);
    touch-action: none;
    padding: 15px;
}
