.app_dark_theme {
    --bg-color: #121212;
    --inverted-bg-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --inverted-primary-color: #3700b3;
    --inverted-secondary-color: #018786;

    // skeleton
    --skeleton-shadow: #3700b3;
    --skeleton-color: #3700b3;

    // code
    --code-bg: #353535;

    // card
    --card-bg: #303030;
}
