.app.dark {
    --bg-color: #464678;
    --inverted-bg-color: #dadada;
    --primary-color: #dfd;
    --secondary-color: #00bf00;
    --inverted-primary-color: #002b55;
    --inverted-secondary-color: #0091cf;
}
