.app_green_theme {
    --bg-color: #f0f8f0;
    --inverted-bg-color: #0a3a2a;
    --primary-color: #0a5c36;
    --secondary-color: #4caf50;
    --inverted-primary-color: #e8f5e9;
    --inverted-secondary-color: #a5d6a7;

    // skeleton
    --skeleton-shadow: #417141;
    --skeleton-color: #9cdf9c;

    // code
    --code-bg: #c7cdc7;
}
