.app_green_theme {
    --bg-color: #f4fbf8;
    --inverted-bg-color: #094d33;
    --primary-color: #052906;
    --secondary-color: #052906;
    --inverted-primary-color: #f4fbf8;
    --inverted-secondary-color: #f4fbf8;
}
