.root {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.authButton {
    margin-left: auto;
}

.logo {
    width: var(--sidebar-width);
}
