.root {
    padding: 15px;
    border-radius: var(--radius-m);

    &.normal {
        background: var(--card-bg);
    }

    &.outlined {
        background: transparent;
        border: 1px solid var(--primary-color);
    }
}
